<RadSideDrawer [transition]="drawerTransition">
  <StackLayout tkDrawerContent class="sidedrawer-left">
    <StackLayout class="sidedrawer-header">
      <Image
        src="~/images/logo.png"
        class="">
      </Image>
    </StackLayout>
    <ScrollView>
      <StackLayout class="sidedrawer-content p-10">
        <GridLayout
          columns="50, *"
          class="sidedrawer-list-item"
          *ngFor="let nav of navMenu">
          <Label
            col="0"
            [text]="nav.icon"
            class="icon m-2 m-r-5"></Label>
          <Button
            col="1"
            class="sidedrawer-list-item-text borderless-btn"
            [text]="nav.name"
            (tap)="navigateTo(nav.commands)">
          </Button>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
  <StackLayout tkMainContent>
    <StackLayout [visibility]="isContentVisible ? 'visible' : 'collapsed'">
      <ng-content ></ng-content>
    </StackLayout>
    <GridLayout
        class="loader-container"
        [visibility]="!isContentVisible ? 'visible' : 'collapsed'">
      <ActivityIndicator
          width="30"
          height="30"
          [busy]="!isContentVisible"
          class="activity-indicator">
      </ActivityIndicator>
    </GridLayout>
  </StackLayout>
</RadSideDrawer>
