@import url('~/platform.css');
@import "nativescript-theme-core/css/core.light.css";
@import "nativescript-theme-core/css/ruby.css";

.page-title {
  vertical-align: center;
  text-align: center;
  font-family: "RisingSun-Light";
}

.page-text {
  vertical-align: center;
  text-align: left;
  font-family: "RisingSun-Light";
}

.action-bar {
  background-color: #AA0000;
}

.colored-page {
  background-color: #AA0000;
  color: #fff;
}

.modal-title{
  font-family: "RisingSun-Light";
  font-weight: 100;
}

.small-spacing {
  margin: 5;
}

.medium-spacing {
  margin: 10;
}

Page {
  background-color: white;
}

/*
 * Event List Styles
 */
.event-list {
  opacity: 1;
}
.event-ticket{
  background-color: #AA0000;
  color: white;
  clip-path: polygon(2% 2%, 5% 0, 100% 0, 100% 100%, 5% 100%, 2% 98%, 0 95%, 0 5%);
  font-family: "RisingSun-Light";
}

.event-ticket > .event-day{
  font-size: 24;
  font-weight:900;
}

.event-ticket > .event-month{
  font-size: 16;
}

/*
 * Event Details Styles
 */
 .details-page-header {
   border-color: #FFF;
   border-width: 10px 0px 0px 10px;
   margin-left: 20px;
   margin-top: 10px;
 }

 .details-page-header-date {
   margin-top: 100px;
   vertical-align: bottom;
 }

 .details-page-header-title {
   color: #FFF;
 }

 .details-page-info {
   font-family: "RisingSun-Light";
   background-color: #FFF;
   color: #000;
 }

 .vertical-bar {
   border-left-width: 10px;
   border-color: #A00;
   margin-left: 20px;
 }

 .detail-label {
   padding: 10px;
   margin-right: 50px;
   background-color: #A00;
   font-weight: bold;
   color: white;
 }

.event-description{
  font-family: "RisingSun-Light";
  font-size: 14;
}

.btn {
  background-color: #A00;
  color: #FFF;
}



/*
 * Animation Definitions
 */
 .fadeIn{
   animation-name: show;
   animation-duration: 1s;
 }

 @keyframes show {
   from { opacity: 0; }
   to { opacity: 1; }
 }

 /*
  * Icons
  */
.icon {
   font-family: 'fontawesome-webfont';
   font-size: 32;
}
.icon-white {
   font-family: 'fontawesome-webfont';
   font-size: 32;
   color: white;
}

/*
 * SideDrawer overrides
 */
.sidedrawer-list-item-text{
  font-family: "RisingSun-Light";
}
