@import url('~/platform.css');
@import "nativescript-theme-core/css/core.light.css";
@import "nativescript-theme-core/css/forest.css";

.page-title {
  vertical-align: center;
  text-align: center;
  font-family: "RisingSun-Light";
}

.page-text {
  vertical-align: center;
  text-align: left;
  font-family: "RisingSun-Light";
}

.action-bar {
  background-color: #AA0000;
}

.modal-title{
  font-family: "RisingSun-Light";
  font-weight: 100;
}

.small-spacing {
  margin: 5;
}

.medium-spacing {
  margin: 10;
}

Page {
  background-color: white;
}

/*
 * Event List Styles
 */
.event-list {
  opacity: 0;
}
.event-ticket{
  background-color: #AA0000;
  color: white;
  clip-path: polygon(2% 2%, 5% 0, 100% 0, 100% 100%, 5% 100%, 2% 98%, 0 95%, 0 5%);
  font-family: "RisingSun-Light";
}

.event-ticket > .event-day{
  font-size: 24;
  font-weight:900;
}

.event-ticket > .event-month{
  font-size: 16;
}

/*
 * Event Details Styles
 */
.event-title{
  font-family: "RisingSun-Light";
}
.event-description{
  font-family: "RisingSun-Light";
  font-size: 14;
}

.detail-label {
  font-weight: bold;
  color: black;
}

/*
 * Animation Definitions
 */
 .fadeIn{
   animation-name: show;
   animation-duration: 1s;
 }

 @keyframes show {
   from { opacity: 0; }
   to { opacity: 1; }
 }

 /*
  * Icons
  */
.icon {
   font-family: 'fontawesome-webfont';
   font-size: 32;
}

/*
 * SideDrawer overrides
 */
.sidedrawer-list-item-text{
  font-family: "RisingSun-Light";
}
